.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 2rem 0;
	background: var(--light-elements);
	box-shadow: var(--light-shadow);
	z-index: 50;
	display: flex;
	justify-content: space-between;
}

:global(.dark) .header {
	background: var(--dark-elements);
	box-shadow: var(--dark-shadow);
}

.header h1,
.header button {
	margin: 0 1rem;
}

.header h1 {
	font-size: 1.5rem;
	font-weight: 800;
	color: inherit;
}

.header h1 a {
	color: inherit;
	text-decoration: none;
}

.header button {
	font-size: 1rem;
	font-weight: 600;
	background: transparent;
	border: none;
	color: inherit;
	display: flex;
	align-items: center;
}

.header button:hover {
	cursor: pointer;
}

.header button svg {
	margin-right: .6rem;
}